.card-component {
    background-color: rgba(0, 0, 0, 0.6509803922);
    backdrop-filter: blur(5px);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 6.6px var(--card-box-shadow-color);
    overflow: hidden;
    width: 375px;
    max-width: 375px;
    max-height: 400px;
    overflow: hidden;
    transition: all 200ms ease-in-out;

    a:hover {
        cursor: url("/pointer.png"), auto;
    }

    img {
        height: 200px;
        object-fit: cover;
        width: 100%;
        transition: transform 200ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        padding: 0.8rem;

        .card-content-title,
        .card-content-description {
            color: rgba($color: #ffffff, $alpha: 1);
            padding: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        button {
            background-color: rgb(48 48 48);
            border: none;
            padding: 0.4rem 0.8rem;
            color: var(--card-text-collor-button);
            width: fit-content;
            border-radius: 10px;
            box-shadow: 1px 1px 6px 1px var(--card-box-shadow-collor-button);
            transition: all 100ms ease-in-out;
        }
    }
}
.card-component:hover {
    cursor: url("/pointer.png"), auto;
    box-shadow: 0px 0px 15px 6.6px var(--card-box-shadow-color-hover);
}
@media screen and (max-width: 766px) {
    .card-component {
        height: clamp(128px, 100vh, 160px);
        width: 100%;

        img {
            height: 100%;
            width: 100%;
        }
        .card-content {
            display: none;
        }
    }
}
