.modal-image-container-expanded {
    position: absolute;
    display: flex;
    inset: 0;
    margin: auto;
    z-index: 1;
    box-shadow: 0px 0px 15px 6.6px var(--card-box-shadow-color);
    width: 100%;
    height: clamp(800px, 100vh, 1130px);
    border: none;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(5px);
        z-index: -1;
    }

    .modal-image-and-title-container {
        width: 100%;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transition: 200ms transofrm ease-in-out;

        .image-loading-text {
            color: #ffffff;
            letter-spacing: 2mm;
            text-shadow: 0px 0px 2px rgba($color: #ffffff, $alpha: 1);
            font-size: 2rem;
            animation: infinite;
            animation-name: text-color;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            text-align: center;
        }

        .image-loaded {
            object-fit: cover;
            width: min(100%, 1200px);
            height: 633px;
            max-width: 1200px;
            max-height: 633px;
            border: 1px solid var(--card-box-shadow-collor-button);
            border-radius: 10px;
            animation: expand 200ms forwards ease-in;
            -webkit-animation: expand 200ms forwards ease-in;
        }

        .modal-image-title {
            font-size: 1.7rem;
            color: var(--card-text-collor-button);
            letter-spacing: 0.02mm;
            white-space: pre-wrap;
            word-break: break-word;
            width: 50%;
            max-width: 80%;
            text-align: center;
        }

        .span-link,
        .span-close-x {
            text-decoration: none;
            position: absolute;
            top: 13.2rem;
            right: 16.2rem;
            font-size: 3rem;
            width: 50px;
            text-align: center;
            color: var(--about-link-collor);
            background-color: var(--component-bgr-transparent-color);
            border-radius: 10px;
            box-shadow: 1px 1px 6px 1px var(--card-box-shadow-collor-button-hover);

            &:hover {
                cursor: url("/pointer.png"), auto;
                color: var(--about-link-collor-hover);
                box-shadow: 1px 1px 6px 1px var(--card-box-shadow-collor-button);
            }
        }
    }
}
@keyframes expand {
    0% {
        width: 0%;
        height: 0%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}
