@import url("ResetCSS.scss");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web&family=Ubuntu&display=swap");
:root {
  background-image: url("../assets/space-explorer-deep-space-main-bgr.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  font-family: "Titillium Web", "PT Sans", "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: overlay;
  overflow-x: overlay;
  scroll-behavior: smooth;
}
