@import url("ResetCSS.scss");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web&family=Ubuntu&display=swap");
:root {
  font-family: "Titillium Web", "PT Sans", "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  cursor: url("/cursor.png"), auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;

  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;

  --card-box-shadow-color: #1e4d97;
  --card-box-shadow-color-hover: #4990be;
  --card-box-shadow-collor-button: #454f6c;
  --about-link-collor: #7382b1;
  --about-link-collor-hover: #93a0c7;
  --card-box-shadow-collor-button-hover: #1e4d96;
  --card-text-collor-button: #2c70dd;
  --about-text-collor: #2f78ee;
  --text-color-shadow: rgba(255, 255, 255, 0.87);
  --hero-text-shadow-additional: rgba(187, 187, 187, 0.76);
  --component-bgr-transparent-color: rgba(0, 0, 0, 0.76);
  --emphasized-text-about: rgba(175, 177, 255, 1);
  --btn-active-bgr: #132fba73;
}

.main {
  min-height: 99vh; /* fall-back */
  // min-height: -moz-available;
  // min-height: -webkit-fill-available;
  // min-height: fill-available;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background-image: url("../assets/space-explorer-deep-space-main-bgr.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  .videoTag {
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .loader-comp {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    height: 5px;
  }
}
