.modal-main-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;

    .image-loading-text {
        color: #ffffff;
        letter-spacing: 2mm;
        text-shadow: 0px 0px 2px rgba($color: #ffffff, $alpha: 1);
        font-size: 2rem;
        width: 100%;
        inset: 0;
        margin: auto;
        text-align: center;
    }

    .pod-container {
        width: 100%;
        min-width: 350px;
        max-width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        padding: 2.3rem 2rem;
        background-color: rgba(0, 0, 0, 0.85);
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;

        .text-container {
            width: 50%;
            height: 100%;
            display: flex;
            backdrop-filter: blur(5px);
            flex-direction: column;
            flex-wrap: wrap;
            border-radius: 10px;
            border: 1px solid rgb(14 11 110 / 70%);
            box-shadow: 0px 0px 270px -111px var(--card-box-shadow-color);
            margin-top: 5rem;
            backdrop-filter: blur(5px);

            .transition-el {
                width: 100%;
                position: absolute;
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                animation: slide-in 1s forwards;
                -webkit-animation: slide-in 1s forwards;

                .modal-pod-title {
                    font-size: 2.7rem;
                    color: var(--card-text-collor-button);
                    letter-spacing: 0.02mm;
                    white-space: pre-wrap;
                    word-break: break-word;
                    width: 100%;
                    min-width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    background-color: var(--component-bgr-transparent-color);
                }

                .modal-pod-explanation {
                    font-size: 1.2rem;
                    color: var(--about-link-collor-hover);
                    letter-spacing: 0.02mm;
                    white-space: pre-wrap;
                    word-break: break-word;
                    width: 100%;
                    min-width: 30%;
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    background-color: var(--component-bgr-transparent-color);
                }
            }
        }

        .img-container {
            width: 50%;
            height: 100vh;
            display: flex;
            margin-top: 5rem;
            position: relative;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .pod-image {
                position: absolute;
                width: 75%;
                height: 100%;
                inset: 0;
                margin: auto;
                border-radius: 10px;
            }
        }

        .span-link,
        .span-close-x {
            text-decoration: none;
            position: absolute;
            top: -2rem;
            right: 5rem;
            font-size: 2rem;
            width: 100px;
            text-align: center;
            color: var(--about-link-collor);
            background-color: var(--component-bgr-transparent-color);
            border-radius: 10px;
            box-shadow: 1px 1px 6px 1px var(--card-box-shadow-collor-button-hover);
            &:hover {
                cursor: url("/pointer.png"), auto;
                color: var(--about-link-collor-hover);
                box-shadow: 1px 1px 6px 1px var(--card-box-shadow-collor-button);
            }
            &:active {
                color: #000000;
                background-color: var(--text-color-shadow);
            }
        }
        .span-link {
            box-shadow: none;
            &:hover {
                box-shadow: none;
            }
        }
    }
}
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@-webkit-keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}
